$AP-Blue: #0B3046;
$AP-Yellow: #FFD902;
$AP-Cyan: #1DB1BF;
$AP-Orange: #F3922B;
$AP-Grey: #DDDDDD;
$AP-Darkgrey: #5A5A5A;
$AP-Lightblue: #D2ECFB;

$primary: $AP-Blue !default;
$secondary: $AP-Yellow !default;
$info: $AP-Darkgrey !default;
$warning: $AP-Orange !default;
$danger: $AP-Orange !default;
$light: lighten($primary, 75%) !default;

$dark: $AP-Blue !default;
$blue: $AP-Cyan !default;
$orange: $AP-Orange !default;

$td-enable-google-fonts: true;

$google_font_name: "Lato";
$google_font_family: "Lato:300,300i,400,400i,700,700i";
